.title {
  font-size: 2rem;
  list-style: none;
  color: #3545ee;
  cursor: pointer;
  transition: .3s;
}

.title.active {
  opacity: .5;
  transition: .3s;
}

.list {
  margin-top: 20px;
}

.projects {
  display: flex;
  justify-content: space-between;
}

.project {
  max-width: 720px;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

.stackItem {
  color: black;
  padding: 8px 16px;
  border: 1px solid #3545ee;
  border-radius: 4px;
  transition: .3s;
}

.stackItem:hover {
  background-color: #3545ee;
  color: white;
  transition: .3s;
}



.image {
  object-fit: cover;
  position: relative !important;
  transition: 1s;
  height: unset !important;
}

@media (max-width: 1125px) {
  .projects {
    flex-direction: column;
    gap: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .project {
    align-self: center;
  }

  .image {}
}